@charset "utf-8";
/* SliderControl */

table.slidertable {
	/* border:1px solid silver; */
	width:100%;
}

table.slidertable tr td:first-child {
	width:15%;
	padding-left:20px;
}

table.slidertable tr td:nth-child(2) {
	width:70%;
}

table.slidertable tr td:last-child {
	width:15%;
	padding-right:20px;
}

div.prevbutton {
	height:60px;
	width:41px;
	background:url('../../ork/img/back.gif');
	background-repeat:no-repeat;
	background-position: center center;	
}

div.nextbutton {
	height:60px;
	width:41px;
	background:url('../../ork/img/next.gif');
	background-repeat:no-repeat;
	background-position: center center;	
}

div.pointbutton {
	float:left;
	height:60px;
	width:20%;
	background:url('../../ork/common/img/sp_ic_c_02.gif');
	background-repeat:no-repeat;
	background-position: center center;
}

div.guide {
	padding-top:5px;
	height:70px;
	display:none;
}
